In [1]:
#This is a comment
'''This is a multiline
   Comment. We begun with 
   Python'''

'This is a multiline\n   Comment. We begun with \n   Python'

### Premitive DataType

* Integer
* String
* Float
* Boolean 
* Complex

In [2]:
var = 10

In [52]:
print(type(var))

<class 'str'>

In [4]:
print(var)

10

In [5]:
var = "This is a String Dtype"

In [6]:
print(type(var))

<class 'str'>

In [7]:
var1 = 'This is also a way to write strings'

In [8]:
print(type(var1))

<class 'str'>

In [9]:
var2 = "This is AI's Session"

In [10]:
i = 12.675

In [11]:
print(type(i))

<class 'float'>

In [12]:
var4 = True
var5 = False

In [13]:
print(type(var4))

<class 'bool'>

In [14]:
var6 = 23+67j
print(var6)
print(type(var6))

(23+67j)
<class 'complex'>

In [15]:
var7 = 23+67j

In [16]:
str1 = 'This is a string datatype'

In [17]:
str1[0]

'T'

In [18]:
str1[:]

'This is a string datatype'

In [19]:
str1[2:-1]

'is is a string datatyp'

In [20]:
str1[:-3]

'This is a string datat'

In [21]:
str1[-3:]

'ype'

In [22]:
str1.capitalize()

'This is a string datatype'

In [23]:
str1 = "TOM and Jerry are cartoon characters"

In [24]:
str1.capitalize()

'Tom and jerry are cartoon characters'

In [25]:
str1.lower()

'tom and jerry are cartoon characters'

In [26]:
str1.count('T')

1

In [27]:
str1.count('e')

3

In [28]:
str1.isalnum()

False

In [29]:
str1.find('TOM')

0

In [30]:
str1.find('TOMMY')

-1

In [31]:
str1.replace("Jerry","JERRY")

'TOM and JERRY are cartoon characters'

In [32]:
str1.title()

'Tom And Jerry Are Cartoon Characters'

### Core Datatype
#### LISTS

In [1]:
list1 = []

In [2]:
list1 = [123456789, 34+78j, "This is a string Datatype", True, False, 45445.786]

In [3]:
print(type(list1))

<class 'list'>

In [4]:
list2 = [24323,565456,'String datatype','Hello Strings']

In [5]:
list3 = list1 + list2

In [6]:
print(list3)

[123456789, (34+78j), 'This is a string Datatype', True, False, 45445.786, 24323, 565456, 'String datatype', 'Hello Strings']

In [7]:
list3[3] = "TRUE String"
print(list3)

[123456789, (34+78j), 'This is a string Datatype', 'TRUE String', False, 45445.786, 24323, 565456, 'String datatype', 'Hello Strings']

In [8]:
list1 [0:-2]

[123456789, (34+78j), 'This is a string Datatype', True]

In [9]:
list3.append(123234243)

In [10]:
list3

[123456789,
 (34+78j),
 'This is a string Datatype',
 'TRUE String',
 False,
 45445.786,
 24323,
 565456,
 'String datatype',
 'Hello Strings',
 123234243]

In [11]:
var10 = 23+67j
list3.append(var10)

In [12]:
print(list3)

[123456789, (34+78j), 'This is a string Datatype', 'TRUE String', False, 45445.786, 24323, 565456, 'String datatype', 'Hello Strings', 123234243, (23+67j)]

In [13]:
list4 = list3.copy()

In [14]:
print(list4)

[123456789, (34+78j), 'This is a string Datatype', 'TRUE String', False, 45445.786, 24323, 565456, 'String datatype', 'Hello Strings', 123234243, (23+67j)]

In [15]:
list4.clear()

In [48]:
print(list4
     )

[]

In [49]:
del(list4)

In [50]:
list4

NameError: name 'list4' is not defined

In [16]:
list3.count(24323)

1

In [17]:
list3.index(24323)

6

In [18]:
list3.insert(3,5654335643456)

In [19]:
print(list3)

[123456789, (34+78j), 'This is a string Datatype', 5654335643456, 'TRUE String', False, 45445.786, 24323, 565456, 'String datatype', 'Hello Strings', 123234243, (23+67j)]

In [20]:
list3.pop(0)

123456789

In [21]:
print(list3)

[(34+78j), 'This is a string Datatype', 5654335643456, 'TRUE String', False, 45445.786, 24323, 565456, 'String datatype', 'Hello Strings', 123234243, (23+67j)]

In [22]:
list3.sort()

TypeError: '<' not supported between instances of 'str' and 'complex'

In [27]:
list3.sort(reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
list3.reverse()

In [17]:
print(list3)

['Hello Strings', 'String datatype', 565456, 24323, 45445.786, False, True, 5654335643456, 'This is a string Datatype', (34+78j)]

In [20]:
list3.remove(True)

In [21]:
print(list3)

['Hello Strings', 'String datatype', 565456, 24323, 45445.786, False, 5654335643456, 'This is a string Datatype', (34+78j)]

In [25]:
list3.remove(34+78j)

In [26]:
print(list3)

['Hello Strings', 'String datatype', 565456, 24323, 45445.786, 5654335643456, 'This is a string Datatype']

### TUPLE

In [28]:
tuple1 = ()

In [29]:
print(type(tuple1))

<class 'tuple'>

In [30]:
tuple1= ('This is a tuple',4543223,235.78, 45+67j, True, False)

In [31]:
tuple1 = (123212,23232,334232,342443,354343)

In [32]:
print(type(tuple1))

<class 'tuple'>

In [33]:
tuple1[:]

(123212, 23232, 334232, 342443, 354343)

In [34]:
tuple1[-1:]

(354343,)

In [35]:
list1 = [132122,233233,3445345,54543543]

In [36]:
list1[-2:]

[3445345, 54543543]

In [37]:
list1[2] = 4533343

In [38]:
tuple1[2] = 'A Tuple'

TypeError: 'tuple' object does not support item assignment

In [39]:
tuple1.index(123212)

0

In [40]:
tuple1.count(123212)

1

In [41]:
del(tuple1)

In [42]:
tuple1

NameError: name 'tuple1' is not defined

In [43]:
tuple1.index(1)

NameError: name 'tuple1' is not defined

In [44]:
tuple1 = (123212,23232,334232,342443,354343)

In [45]:
tuple1.index(1)

ValueError: tuple.index(x): x not in tuple

In [46]:
tuple1= ('This is a tuple',4543223,235.78, 45+67j, True, False)

In [47]:
tuple1.index(1)

4

In [48]:
tuple1.index(0)

5

### Dictionary

In [49]:
dict1 = {}

In [50]:
dict1 = {'Apple':'Fruit','iPhone':'Apple'}

In [51]:
dict1['Apple']

'Fruit'

In [52]:
dict1.keys()

dict_keys(['Apple', 'iPhone'])

In [53]:
dict1.values()

dict_values(['Fruit', 'Apple'])

In [54]:
dict1['Python'] = 'Snake'

In [55]:
dict1.items()

dict_items([('Apple', 'Fruit'), ('iPhone', 'Apple'), ('Python', 'Snake')])

In [56]:
dict1['Anaconda'] = 'A bigger Snake'

In [57]:
dict1.items()

dict_items([('Apple', 'Fruit'), ('iPhone', 'Apple'), ('Python', 'Snake'), ('Anaconda', 'A bigger Snake')])

In [58]:
print(dict1)

{'Apple': 'Fruit', 'iPhone': 'Apple', 'Python': 'Snake', 'Anaconda': 'A bigger Snake'}

In [59]:
dict1['Apple'] = 'A juicy Fruit'

In [60]:
print(dict1)

{'Apple': 'A juicy Fruit', 'iPhone': 'Apple', 'Python': 'Snake', 'Anaconda': 'A bigger Snake'}

# -------------------------------------------------------

### Loops

In [70]:
for i in range(10):
    print("The value is:  %d" %i)

The value is:  0
The value is:  1
The value is:  2
The value is:  3
The value is:  4
The value is:  5
The value is:  6
The value is:  7
The value is:  8
The value is:  9

In [62]:
for i in range(10):
    print("The value is: ", i)

The value is:  0
The value is:  1
The value is:  2
The value is:  3
The value is:  4
The value is:  5
The value is:  6
The value is:  7
The value is:  8
The value is:  9

In [63]:
for i in range(2,10):
    print("The value is:  %d" %i)

The value is:  2
The value is:  3
The value is:  4
The value is:  5
The value is:  6
The value is:  7
The value is:  8
The value is:  9

In [64]:
for i in range(1,12,2):
    print("The value is:  %d" %i)

The value is:  1
The value is:  3
The value is:  5
The value is:  7
The value is:  9
The value is:  11

In [65]:
i = 0
while i<10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [66]:
even = []
odd  = []
for i in range(1,101):
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [67]:
prime = []
for i in range(2,101):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [68]:
list1 = ['A','E','I','O','U','a','e','i','o','u']
name = input("Enter the name: ")
count = 0
for i in name:
    if i in list1:
        count = count + 1
print(count)

Enter the name: Umang
2

### Functions

In [ ]:
name = input("Enter the name: ")
def greeting(name):
    print("Good Morning!! %s" %name)

greeting(name)

In [4]:
a = float(input("Enter the number a: "))
b = float(input("Enter the number b: "))
c = input("Enter the operation: ")
def calculator(a,b,c):
    if c == '+':
        print(int(a+b))
    elif c == '/':
        print(a/b)
    else:
        print("Invalid Entry!!")
calculator(a,b,c)

Enter the number a: 2
Enter the number b: 2
Enter the operation: +
4

In [ ]:
a = input("Enter a value: ")
b = input("Enter a value: ")
def sum_of_val(a,b):
    '''This is a function that returns sum of two values'''
    return a + " " + b

print(sum_of_val.__doc__)
print(sum_of_val(a,b))

In [ ]:
def make_greeting(title, name, surname, formal=True):
    if formal==True:
        return ("Hello, %s %s!" % (title, surname))
    else:
        return ("Hello, %s!" % name)

print(make_greeting("Mr","Sumit","Pandey"))
print(make_greeting("Mr","Sumit","Pandey",False))

#### Recursion

In [ ]:
n = int(input("Enter the number: "))
def recur_fibo(n):
    if n <= 1:
        return n
    else:
        return(recur_fibo(n-1) + recur_fibo(n-2))
for i in range(n):
    print(recur_fibo(i))

### Main Function

In [5]:
from collections import Counter 
def elec_winner(input): 
    votes = Counter(input) 
    dict = {} 
    for value in votes.values(): 
        dict[value] = [] 
    for (key,value) in votes.items(): 
        dict[value].append(key) 
    maxVote = sorted(dict.keys(),reverse=True)[0] 
    if len(dict[maxVote])>1: 
        print (sorted(dict[maxVote])[0]) 
    else: 
        print (dict[maxVote][0]) 
# Driver program 
if __name__ == "__main__": 
    input =['Tom','Jerry','Tom','Jerry','Tom','Mamta','Mayavati',
            'Tom', 'Tom','Jerry','Jerry','Jerry','Tom'] 
    elec_winner(input)

Tom

In [ ]:
input =['Tom','Jerry','Tom','Jerry','Tom','Mamta','Mayavati','Tom', 'Tom','Jerry','Jerry','Jerry','Tom']
from collections import Counter 
votes = Counter(input)
print(votes)

In [ ]:
votes.values()

In [ ]:
votes.keys()

In [ ]:
import datetime

In [51]:
datetime.datetime.now()

NameError: name 'datetime' is not defined

In [ ]:
# Timestamp 
datetime.datetime.fromtimestamp(0)